{
    "parser": "@typescript-eslint/parser",
    "globals": {
        "Audio": true,
        "process": true,
        "window": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": false
            }
        ],
        "react/jsx-max-props-per-line": ["error", { "maximum": 1, "when": "multiline" }],
        "react/prop-types": "off",
        "@typescript-eslint/no-explicit-any": "error"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
